@font-face {
	font-family: 'DoodleJump';
	src: url('//2ttf.com/webfont/9L8ZEUpWnuu/webfont.ttf') format('truetype');
}

body {
    text-align: center;
    background: url('../images/orange-planet.jpg');
    background-size:cover;
    font-family: 'DoodleJump';
}

.img {
    position: absolute;
    z-index: 2;
}

#game-intro {
    z-index: 30;
    position: absolute;
    border-radius: 10px;
    /* background-color: rgba(192,250,217,0.9); */
    background: url('../images/classic-bg.png');
    width: 800px;
    height:850px;

}

#game-board {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

#canvas {
    position: relative;
    z-index: 20;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333; 
    background-color: rgba(255,255,255,0.5)
}

content{
    padding: 30px;
}

#rona {
    padding: 0 30px;
}

h1{
    color:#f56328;
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

p {
    color:#f56328;
    font-size: 1.3rem;
    padding: 0 30px;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #f56328;    }
    49%{    color: #f56328; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #f56328;    }
}