@font-face {
	font-family: 'DoodleJump';
	src: url('//2ttf.com/webfont/9L8ZEUpWnuu/webfont.ttf') format('truetype');
}

body {
    text-align: center;
    /* background: url('../images/temp.jpg'); */
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'DoodleJump';
}

.img {
    position: absolute;
    z-index: 2;
}

#game-intro {
    z-index: 30;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333; 
    background-color: rgba(255,255,255,0.9);
    width: 800px;
    height:850px;

}

#game-board {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

#canvas {
    position: relative;
    z-index: 20;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333; 
    background-color: rgba(255,255,255,0.5)
}

#rona {
    padding: 0 30px;
}

#game-intro > h2 {
    font-size: 2rem;
    padding: 3rem 3rem 0 3rem;
}

span {
    color:#b23f85;
    
}